@import url("https://fonts.googleapis.com/css?family=Mukta|ZCOOL+XiaoWei");

body {
  font-family: "ZCOOL XiaoWei", serif;
  background-image: url("/palindrome/img/concrete-texture.png");
}

h2 {
  font-size: 50px;
  text-align: center;
}

.good,
.bad {
  margin: 5px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10%;
  color: white;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.facts {
  background-color: lightsalmon;
  outline: 4px solid lightsalmon;
  border: 4px dotted blue;
  margin: 10px;
  flex-basis: 30%;
  padding: 10px;
  font-family: "Mukta", sans-serif;
}

.word-count {
  font-size: 30px;
  text-align: center;
}

.facts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

form,
input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 30px;
  text-align: center;
}

input[type="submit"],
input[type="reset"] {
  width: 45%;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
}

input[type="submit"] {
  float: right;
}

.form-wrapper {
  width: 400px;
  margin: 20px auto;
}

.warning {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 40px;
}
