@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Raleway", sans-serif;
  background-image: url("/insecure/img/insecure-bkgrnd.jpg");
}

body {
  border: solid 5px orange;
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 190px;
  text-align: center;
  padding: 20px;
  background-color: white;
}

body p {
  font-size: 60px;
  font-weight: bolder;
  color: red;
  padding: 5px;
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 8px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  border: 2px solid darkblue;
  background-color: lightgray;
  font-family: "Raleway", sans-serif;
}

input[type="submit"],
input[type="reset"] {
  width: 30%;
  background-color: navy;
  font-size: 25px;
  font-weight: bold;
  color: orange;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
